@import '@styles/mixins.scss';

.section {
  margin-block: 4rem;
}

.container {
  @include container(true);
}

.header {
  text-align: center;
  margin-bottom: 3.5rem;
}

.description {
  color: var(--secondary-color);
}

.listServices {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
}
