.wrapper {
  list-style: none;
}

.card {
  display: block;
  position: relative;
  transition: scale 0.5s ease;
  overflow: hidden;
  border-radius: 10px;

  &:hover {
    scale: 1.05;
  }

  &:hover .content {
    bottom: 10px;
  }
}

.content {
  position: absolute;
  background-color: var(--white);
  border-radius: 10px;
  bottom: -50%;
  font-size: 14px;
  padding: 12px 16px;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 0.5s ease;
}

.name {
  color: var(--black);
}

.topElement {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    width: 20px;
    height: 20px;
    background-color: var(--white);
    left: 50%;
    transform: translate(-50%, -100%) rotate(45deg);
  }
}
