// Screen sizes
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;

// Layers
$layer-minus: -1;
$layer1: 10;
$layer2: 20;
$layer3: 30;
$layer4: 40;
$layer5: 50;

// Header height
$headerHeight: 90px;
