@import '@styles/vars.scss';

.client {
  display: flex;
  align-items: center;
  gap: 2.6rem;
  margin-inline: 1.5rem;
}

.image {
  flex-basis: 40%;
  border-radius: 30px;
}

.content {
  flex-basis: 60%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  margin-block: 0.7rem 1.6rem;
}

.name {
  color: var(--primary-color);
}

.profession {
  font-size: 14px;
}

@media (max-width: $tablet) {
  .client {
    display: block;
  }

  .image {
    margin-bottom: 2rem;
  }
}
