@import '@styles/vars.scss';

.content {
  flex-grow: 1;
}

.description {
  color: var(--secondary-color);
}

.title {
  margin-block: 0.6rem 1.2rem;
}

.video {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  margin-block: 3.5rem;
  width: 100%;
}
